.post-outer{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: auto;
}

.post-inner{
    
    width: 90%;
    height: auto;
    box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
    /* display: flex; */

}

.top-area{
    width: 100%;
    height: 60px;
    display: flex;
    
}

.profile-pic{
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pic-container{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    
    border-radius: 50%;
}
.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
/* ======== */

.post-info{
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.name{
    font-family: 'PT Sans', sans-serif;
    color: rgb(87, 87, 229);
    font-size: 14px;
}


.profile-name{
    text-align: left;
    padding-left: 7px;
    width: 90%;
    height: 20px;
    
}

.time-and-icon{
    width: 100%;
    height: 20px;
    display: flex;
    
}

.time{
    width: 40px;
    height: 100%;
    
}

.time-span{
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: lighter;
    color: rgb(155, 153, 153);
}

.icon{
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    
}

.world-icon{
    height: 15px;
}



/* ====================================================================================== */


.center-area{
    width: 100%;
    height: auto;
    
}

.post-content{
    /* border: 1px solid blue; */
}

.caption{
    
    margin-left: 5px;
    display: flex;
}

.image{
    
    width: 100%;
    height: auto;
}

.post-img{
    width: 100%;
    height: auto;
}

.caption-text{
    text-align: left;
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 14px;
    font-weight: lighter;
    
}

.comment-area{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.latest-reactions{
    width: 20%;
    height: 20px;
    display: flex;
}

.reacttion-icon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reacttion-count{
    font-family: sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #718093;
}

.comments{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 12px;
}

/* =========================================================== */


.option-area{
    width: 100%;
    height: 30px;
    margin-top: 2px;
}

.rect-types{
    width: 90%;
    height: 25px;
    display: flex;
    justify-content: space-around;
}

.react-type{
    width: 25%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.react-icon{
    width: 40%;
    height: 100%;
    
}

.react-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
